<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="http://ponyracer.ninja-squad.com/assets/images/pony-green-rainbow.gif">
  <img width="300" alt="Angular Logo" src="http://ponyracer.ninja-squad.com/assets/images/pony-yellow-rainbow.gif">
</div>
<hr />
<button type="button"
        class="btn"
        routerLink="home">
        Home
</button>
&nbsp;
<button type="button"
        class="btn"
        routerLink="race">
        Race
</button>
<hr />
<router-outlet></router-outlet>